*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   
}
html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(152, 135, 235);
    display: flex;
    justify-content: center;
    align-items: center;
}


#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(24, 28, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}